$primary-color: #2323ff;
$secondary-color: #000000;
$bgcolor-nav: #808080be;
$bghover-color: #0000cc;
$border-theme: #525252;
$text-color1: #ffffff;
$text-color2: #000000;
$theme1-bgcolor: #c5c5c5cc;
$theme2-bgcolor: #242424cc;
$theme3-bgcolor: #00004ecc;
$theme4-bgcolor: #300028cc;
$border-color: #b8b8b8;
$PC-bluedark-hover: #1818c7;
$PC-pinkdark-hover: #790265;

/*///////////// DARK //////////////*/
$dark-primary-color: #000000;
$dark-secondary-color: #304fff;
$dark-secondary-hover-color: #1818c7;
$dark-bg-theme: #2e2e2e;
$dark-theme4-hover: #790265;

/*///////// BLUEDARK /////////////*/
$bluedark-primary-color: #00004e;
$bluedark-secondary-color: #304fff;
$bluedark-secondary-hover-color: #1818c7;
$bluedark-bgcolor-nav: #3c47e488;
$bluedark-theme2-hover: #000000;
$bluedark-theme4-hover: #790265;

/*///////// PINKDARK ////////////*/
$pinkdark-primary-color: #300028;
$pinkdark-secondary-color: #96007d;
$pinkdark-secondary-hover-color: #640154;
$pinkdark-bgcolor-nav: #63315a88;
$pinkdark-theme2-hover: #000000;
$pinkdark-theme3-hover: #1818c7;
$pinkdark-theme4-hover: #790265;
