/*///////////////////////////////////////////////////////// 
                   RULES
//////////////////////////////////////////////////////////*/
:root {
  font-size: 62.5%;
  --primary-color: #2323ff;
  --secondary-color: #000000;
  --bgcolor-nav: #808080be;
  --bghover-color: #0000cc;
  --border-theme: #525252;
  --text-color1: #ffffff;
  --text-color2: #000000;
  --theme1-bgcolor: #c5c5c5cc;
  --theme2-bgcolor: #242424cc;
  --theme3-bgcolor: #00004ecc;
  --theme4-bgcolor: #300028cc;
  --border-color: #b8b8b8;
  --PC-bluedark-hover: #1818c7;
  --PC-pinkdark-hover: #790265;
}
* {
  padding: 0;
  margin: 0;
}
a, li {
  font-size: 1.7rem;
  text-decoration: none;
}
li {
  list-style: none;
}
body{
  transition: background 0.5s;
}
.container {
  position: relative;
  width: 100%; 
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Comfortaa', cursive;
}
/*///////////////////////////////////////////////////////// 
                   HAMBURGUER MENU
//////////////////////////////////////////////////////////*/
.hamburguer {
  position: absolute;
  z-index: 3;
  padding: 2rem 2.5rem 0 0;
  width: 3rem;
  right: 0;
  transition: 0.5s;
}
.lineA,
.lineC {
  margin-top: 2px;
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 5px;
  transition: 0.5s;
}
.lineB {
  margin-left: 30%;
  background-color: var(--primary-color);
  border-radius: 5px;
  height: 4.5px;
  margin-block: 3px;
  transition: 0.5s;
}
.active .lineA {
  transform: rotate(-45deg) translate(0px, 11px);
}
.active .lineB {
  transform:translate(1px, -2px) rotate(45deg);
}
.active .lineC {
  transform: rotate(45deg) translate(0px, -11px);  
}
/*//////////////////////////////////////////////////////// 
                       HEADER
/////////////////////////////////////////////////////////*/
.button-themes{
  display: none;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 15rem;
  height: 15rem;
  margin-top: 2rem;
  padding: 0.2rem;
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  transition: border 0.5s;
}
header h1 {
  font-size: 2.5rem;
  margin-top: 0.5rem;
}
/*//////////////////////////////////////////////////////// 
                       NAV
/////////////////////////////////////////////////////////*/
nav {
  display: flex;
  flex-direction: column;
  position: fixed; 
  right: -100%;
  width: 100%;
  padding-top: 1rem;
  z-index: 1;
  background-color: var(--bgcolor-nav);
  color: var(--text-color1);
  height: 100%;
  backdrop-filter: blur(5px);
  transition: right 0.5s, background 0.5s;
}
nav h3{
  border-bottom: 1px solid var(--border-theme);
  padding: 0 0 1rem 2rem;
  font-size: 3rem;
}
nav .theme{
  border-bottom:1px solid var(--border-theme);
  padding: 2rem 0 2rem 2rem;
  transition: 0.5s;
}
nav .theme:nth-child(1):hover{
  background-color: var(--theme1-bgcolor);
}
nav .theme:nth-child(2):hover{
  background-color: var(--theme2-bgcolor);
}
nav .theme:nth-child(3):hover{
  background-color: var(--theme3-bgcolor);
}
nav .theme:nth-child(4):hover{
  background-color: var(--theme4-bgcolor);
}
.on{
  position: fixed;
  right: 0%;
}
/*//////////////////////////////////////////////////////// 
                   MAIN
/////////////////////////////////////////////////////////*/
main {
  text-align: center;
  margin-top: 2rem;
  width: 75%;
}
li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--text-color1);
  border-radius: 30px;
  margin-bottom: 1.5rem;
  height: 4rem;
  transition: background 0.5s;
}
li a:hover {
  background-color: var(--bghover-color);
}
/*///////////////////////////////////////////////////////// 
                FOOTER
/////////////////////////////////////////////////////////*/
footer {
  display: flex;
  position: relative;
  bottom: 0;
  margin-top: 0.5rem;
  transition: fill 0.5s;
}
footer svg{
  fill: var(--bghover-color);
  transition: 0.5s;
}
address {
  padding-left: 0.4rem;
  font-style: normal;
}
/*//////////////////////////////////////////////////////
                  DARK THEME
////////////////////////////////////////////////////////*/
.dark{
  background-color: var(--dark-primary-color);
  --dark-primary-color: #000000;
  --dark-secondary-color: #304fff;
  --dark-secondary-hover-color: #1818c7;
  --dark-bg-theme: #2e2e2e;
  --dark-theme4-hover: #790265;
}
.dark header h1,
.dark header p,
.dark footer{
  color: var(--text-color1);
}
.dark .lineA,
.dark .lineB,
.dark .lineC,
.dark li a{
  background-color: var(--dark-secondary-color);
}
.dark li a:hover{
  background-color: var(--dark-secondary-hover-color);
}
.dark header img{
  border: 3px solid var(--dark-secondary-color);
}
.dark footer svg{
  fill: var(--dark-secondary-color);
}
/*//////////////////////////////////////////////////////
                BLUE  DARK THEME
////////////////////////////////////////////////////////*/
.blueDark{
  background-color: var(--bluedark-primary-color);
  --bluedark-primary-color: #00004e;
  --bluedark-secondary-color: #304fff;
  --bluedark-secondary-hover-color: #1818c7;
  --bluedark-bgcolor-nav: #3c47e488;
  --bluedark-theme2-hover: #000000;
  --bluedark-theme4-hover: #790265;
}
.blueDark header h1,
.blueDark header p,
.blueDark footer{
  color: var(--text-color1);
}
.blueDark .lineA,
.blueDark .lineB,
.blueDark .lineC,
.blueDark li a{
  background-color: var(--bluedark-secondary-color);
}
.blueDark li a:hover{
  background-color: var(--bluedark-secondary-hover-color);
}
.blueDark header img{
  border: 3px solid var(--bluedark-secondary-color);
}
.blueDark nav{
  background-color: var(--bluedark-bgcolor-nav);
}
.blueDark footer svg{
  fill: var(--bluedark-secondary-color);
}
/*//////////////////////////////////////////////////////
                PINK DARK THEME
////////////////////////////////////////////////////////*/
.pinkDark{
  background-color: var(--pinkdark-primary-color);
  --pinkdark-primary-color: #300028;
  --pinkdark-secondary-color: #96007d;
  --pinkdark-secondary-hover-color: #640154;
  --pinkdark-bgcolor-nav: #63315a88;
  --pinkdark-theme2-hover: #000000;
  --pinkdark-theme3-hover: #1818c7;
  --pinkdark-theme4-hover: #790265;
}
.pinkDark .lineA,
.pinkDark .lineB,
.pinkDark .lineC,
.pinkDark li a{
  background-color: var(--pinkdark-secondary-color);
}
.pinkDark li a:hover{
  background-color: var(--pinkdark-secondary-hover-color);
}
.pinkDark header img{
  border: 3px solid var(--pinkdark-secondary-color);
}
.pinkDark header h1,
.pinkDark header p,
.pinkDark footer{
  color: var(--text-color1);
}
.pinkDark nav{
  background-color: var(--pinkdark-bgcolor-nav);
}
.pinkDark footer svg{
  fill: var(--pinkdark-secondary-color);
}
/*//////////////////////////////////////////////////////
                     MEDIA SCREEN 720
////////////////////////////////////////////////////////*/
@media (min-width: 720px){
  .hamburguer,
  nav h3{
    display: none;
  }
  .container{
    width: 90%;
  }
  .container main{
    width: 62%;
  }
  /*////////////////////// NAV ////////////////////////////*/
  nav {
    display: flex;
    flex-direction: column;
    position: absolute; 
    right: 0; 
    width: 10rem;
    padding: 2rem 2rem 0 0;
    background-color: transparent;
    color: var(--text-color2);
    backdrop-filter: none;
  }
  .button-themes{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    height: 4rem;
    font-family: 'Comfortaa', cursive;
    background-color: var(--primary-color);
    color: var(--text-color1);
    padding-inline: 1rem;
    border: none;
    border-radius: 10px;
    transition: background 0.5s;
  }
  .button-themes:hover{
    background-color: var(--bghover-color);
  }
  nav .theme{
    visibility: collapse;
    opacity: 0;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1rem 0 1rem 1rem;
    transition: opacity 0.5s, background 0.5s;
  }
  nav .theme:nth-child(1):hover{
    background-color: var(--theme1-bgcolor);
    cursor: pointer;
  }
  nav .theme:nth-child(2):hover{
    background-color: var(--secondary-color);
    color: var(--text-color1);
    cursor: pointer;
  }
  nav .theme:nth-child(3):hover{
    background-color: var(--PC-bluedark-hover);
    color: var(--text-color1);
    cursor: pointer;
  }
  nav .theme:nth-child(4):hover{
    background-color: var(--PC-pinkdark-hover);
    color: var(--text-color1);
    cursor: pointer;
  }
  .on{
    position: absolute;
    right: 0%;
  }
  .on .theme{
    visibility: visible;
    opacity: 1;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    padding: 1rem 0 1rem 1rem;
  }
  nav svg{
    transition: transform 0.5s;
  }
  .on svg{
    transform: rotateX(180deg) translateY(-4px);
  }
  /*////////////////////// DARK THEME ////////////////////////////*/
  .dark nav{
    color: var(--text-color1);
  }
  .dark .button-themes{
    background-color: var(--dark-secondary-color);
    transition: 0.5s;
  }
  .dark .button-themes:hover{
    background-color: var(--dark-secondary-hover-color);
  }
  .dark .theme:nth-child(2):hover{
    background-color: var(--dark-bg-theme);
    color: var(--text-color1);
  }
  .dark .theme:nth-child(3):hover{
    background-color: var(--dark-secondary-hover-color);
  }
  .dark .theme:nth-child(4):hover{
    background-color: var(--dark-theme4-hover);
  }
/*////////////////////// BLUEDARK THEME ////////////////////////////*/
  .blueDark .theme{
    color: var(--text-color1);
  }
  .blueDark .button-themes{
    background-color: var(--bluedark-secondary-color);
    transition: 0.5s;
  }
  .blueDark .button-themes:hover{
    background-color: var(--bluedark-secondary-hover-color);
  }
  .blueDark nav{
    background-color: transparent;
  }
  .blueDark .theme:nth-child(2):hover{
    background-color: var(--bluedark-theme2-hover);
  }
  .blueDark .theme:nth-child(3):hover{
    background-color: var(--bluedark-secondary-hover-color);
  }
  .blueDark .theme:nth-child(4):hover{
    background-color: var(--bluedark-theme4-hover);
  }
  /*//////////////////////// PINK DARK THEME ///////////////////*/
  .pinkDark .button-themes{
    background-color: var(--pinkdark-secondary-color);
  }
  .pinkDark .button-themes:hover{
    background-color: var(--pinkdark-secondary-hover-color);
  }
  .pinkDark .theme{
    color: var(--text-color1);
  }
  .pinkDark nav{
    background-color: transparent;
  }
  .pinkDark .theme:nth-child(2):hover{
    background-color: var(--pinkdark-theme2-hover);
  }
  .pinkDark .theme:nth-child(3):hover{
    background-color: var(--pinkdark-theme3-hover);
  }
  .pinkDark .theme:nth-child(4):hover{
    background-color: var(--pinkdark-theme4-hover);
  }
}
/*//////////////////////////////////////////////////////
                   MEDIA SCREEN 1024
////////////////////////////////////////////////////////*/
@media (min-width: 1024px){
  .container{
    width: 80%;
  }
  .container main{
    width: 70%;
  }
}
/*//////////////////////////////////////////////////////
                   MEDIA SCREEN 1440
////////////////////////////////////////////////////////*/
@media (min-width: 1400px){
  header img {
    width: 25rem;
    height: 25rem;
    margin-top: 4rem;
    padding: 0.4rem;
  }
  header h1 {
    font-size: 4rem;
    margin-top: 0.5rem;
  }
  header p{
    font-size: 2rem;
  }
  /*//////////////////////// NAV ///////////////////*/
  nav {
    width: 15rem;
  }
  nav .theme{
    font-size: 2.5rem;
  }
  .button-themes{
    margin-top: 2rem;
    font-size: 3rem;
    height: 5rem;
  }
  nav svg{
    transition: transform 0.5s;
    transform: scale(1.5);
  }
  .on svg{
    transform: rotateX(180deg) translateY(-4px) scale(1.5);
  }
  /*//////////////////////// MAIN ///////////////////*/
  main li a{
    font-size: 3rem;
    height: 6rem;
  }
  main svg{
    transform: scale(1.5) translateY(-2px);
  }
  /*//////////////////////// FOOTER ///////////////////*/
  footer{
    font-size: 2rem;
  }
  footer svg{
    width: 30px;
    transform: scale(1.5) translateY(2px);
  }
}
/*//////////////////////////////////////////////////////
                    MEDIA SCREEN 2550
////////////////////////////////////////////////////////*/
@media (min-width: 2550px){
  header img {
    width: 40rem;
    height: 40rem;
    margin-top: 4rem;
    padding: 0.4rem;
  }
  header h1 {
    font-size: 6rem;
    margin-top: 0.5rem;
  }
  header p{
    font-size: 3rem;
  }
  /*//////////////////////// NAV ///////////////////*/
  nav {
    width: 25rem;
  }
  nav .theme{
    font-size: 4.5rem;
  }
  .button-themes{
    font-size: 5rem;
    height: 8rem;
    margin-top: 2rem;
    border-radius: 20px;
  }
  nav svg{
    width: 40px;
    transition: transform 0.5s;
    transform: scale(2);
  }
  .on svg{
    transform: rotateX(180deg) translateY(-4px) scale(2);
  }
  /*//////////////////////// MAIN ///////////////////*/
  main li a{
    font-size: 5rem;
    height: 9rem;
    border-radius: 50px;
  }
  main svg{
    transform: scale(2.5) translateY(-4px);
    width: 30px;
  }
  /*//////////////////////// FOOTER ///////////////////*/
  footer{
    font-size: 3rem;
  }
  footer svg{
    width: 50px;
    transform: scale(2) translateY(6px);
  }
}
